<div class="container">
    <mat-card class="mat-card">
        <mat-card-header class="mat-card-header">
            <div class="form-container">
                <app-participation-new></app-participation-new>
            <mat-divider [inset]="true"></mat-divider>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="data-container">
                <div class="table-container">
                    <app-participation-list></app-participation-list>
                </div>
                <div class="grafico-container">
                    <app-doughnut-chart></app-doughnut-chart>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>