.container {
    display: flex;
    flex-direction: column;
    .form-container {
        height: 7vh;
        margin: 5px;
    }
    .data-container {
        height: 60vh;
        display: flex;
        justify-content: space-around;
        padding: 5vh;
        .table-container {
            width: 45%;
        }
        .grafico-container {
            width: 45%;
        }
    }
}

.mat-card{
    padding: 0.5rem;
}
.mat-card-header{
    background-color: #673ab7;
    border-radius: 0.2rem;
}