.form-participation {
    display: flex;
    align-items: center;
    margin-left: 25px;
    .input-group{
        padding-left: 10px;
        label{
            color: white;
        }
        .mat-flat-button{
            line-height: 26px;
        }
    }
}
