<form enctype="multipart/form-data" (ngSubmit)="addParticipation()" [formGroup]="participationForm" class="form-participation">
    <div class="form-group">
        <label class="control-label">Nome</label>
        <div>
            <input class="form-control" id="firstName" type="text" placeholder="Informe o nome"
                formControlName="firstName" [ngClass]="{'is-invalid': displayMessage.firstName }" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Sobrenome</label>
        <div>
            <input class="form-control" id="lastName" type="text" placeholder="Informe o sobrenome"
                formControlName="lastName" [ngClass]="{'is-invalid': displayMessage.lastName }" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Valor</label>
        <div>
            <input class="form-control" id="value" type="text" placeholder="Informe o valor" formControlName="value"
                [textMask]="{mask: MASKS.number.textMask}" [ngClass]="{'is-invalid': displayMessage.value }" />
        </div>
    </div>
    <div class="form-group">
        <input type="submit" id="cadParticipation" [disabled]="!participationForm.valid" value="Cadastrar"
            class="btn btn-primary">&nbsp;
    </div>
</form>