<!-- <p>It Works!</p> -->
<div class="container main-container">
    <div class="row">
        <div class="col-md-10">
            <form enctype="multipart/form-data" (ngSubmit)="addParticipation()" [formGroup]="participationForm">

                <div class="alert alert-danger" *ngIf="errors.length > 0">
                    <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                    <ul>
                        <li *ngFor="let error of errors">{{ error }}</li>
                    </ul>
                </div>

                <div class="form-group">
                    <label class="control-label">Nome</label>
                    <div>
                        <input class="form-control" id="firstName" type="text" placeholder="FirstName (requerido)" formControlName="firstName" [ngClass]="{'is-invalid': displayMessage.firstName }" />
                        <span class="text-danger" *ngIf="displayMessage.firstName">
                            <p [innerHTML]="displayMessage.firstName"></p>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Sobrenome</label>
                    <div>
                        <input class="form-control" id="lastName" type="text" placeholder="LastName (requerido)" formControlName="lastName" [ngClass]="{'is-invalid': displayMessage.lastName }" />
                        <span class="text-danger" *ngIf="displayMessage.lastName">
                            <p [innerHTML]="displayMessage.lastName"></p>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Valor</label>
                    <div>
                        <input class="form-control" id="value" type="text" placeholder="Value (requerido)" formControlName="value" [textMask]="{mask: MASKS.number.textMask}" [ngClass]="{'is-invalid': displayMessage.value }" />
                        <span class="text-danger" *ngIf="displayMessage.value">
                            <p [innerHTML]="displayMessage.value"></p>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" id="cadParticipation" [disabled]="!participationForm.valid" value="Cadastrar" class="btn btn-primary">&nbsp;
                </div>
            </form>
        </div>
    </div>
</div>